@using Perpustakaan;
@using Perpustakaan.Models;
@model Tuple<List<PinjamModel>, List<SPinjamModel>>

@{
    ViewBag.Title = "Confirm";
}

<h2 style="text-align:center;">Confirm</h2>
<br />
@Html.ActionLink("Daftar Buku", "Index")
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    @Html.Label("User")
                </th>
                <th>
                    @Html.Label("Buku")
                </th>
                <th>
                    @Html.Label("Waktu Pinjam")
                </th>
                <th></th>
            </tr>

            @foreach (PinjamModel pinjam in Model.Item1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => pinjam.User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => pinjam.PBuku)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => pinjam.WPinjam)
                    </td>
                    <td>
                        @Html.ActionLink("Confirm", "Acc", new { id = pinjam.Id })
                    </td>
                </tr>
            }

        </table>
        </div>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    @Html.Label("User")
                </th>
                <th>
                    @Html.Label("Buku")
                </th>
                <th>
                    @Html.Label("Waktu Kembali")
                </th>
                <th>
                    @Html.Label("Status")
                </th>
                <th>
                    @Html.Label("Ambil")
                </th>
                <th>
                    @Html.Label("Remove")
                </th>
                <th></th>
            </tr>

            @foreach (SPinjamModel spinjam in Model.Item2)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => spinjam.User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => spinjam.PBuku)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => spinjam.WKembali)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => spinjam.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Ambil", "Client", new { id = spinjam.Id })
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "Remove", new { id = spinjam.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
    </div>
